.textInputDefault {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin: 1px;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.textInputSuccess {
  margin: 0;
  border: 2px solid #28a745;
}
.textInputError {
  margin: 0;
  border: 2px solid #dc3545;
}
.textInputInfo {
  margin: 0;
  border: 2px solid #ffc107;
}

%svgInFormInput {
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.checkboxInFormInput {
  @extend %svgInFormInput;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'></svg>");
}
.crossInFormInput {
  @extend %svgInFormInput;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23dc354'><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>");
}
.textInputClearButton {
  div {
    position: relative;
    left: -23px;
    top: 8px;
  }
}
