body {
  font-family: "Fira Code", monospace;
  font-size: 13px;
}
h1 {
  font-size: 30px;
}
:focus,
button:focus {
  outline: none;
}
.min-h-8 {
  min-height: 8rem;
}
.min-h-2 {
  min-height: 2rem;
}
.min-w-40 {
  min-width: 10rem;
}
.min-w-32 {
  min-width: 8rem;
}
.max-h-64 {
  max-height: 16rem;
}
.max-h-128 {
  max-height: 32rem;
}
.surround-parenthesis::before {
  content: "(";
}
.surround-parenthesis::after {
  content: ")";
}
.surround-parenthesis:empty::before {
  content: "";
}
.surround-parenthesis:empty::after {
  content: "";
}
body {
  min-width: 600px;
  min-height: 500px;
}
.h-128 {
  height: 32rem;
}
.h-100 {
  height: 26rem;
}
.is-out .hide-on-false {
  opacity: 0;
}

.is-open .hide-on-false {
  opacity: 100;
}
.h-7 {
  height: 1.75rem;
}
.w-7 {
  width: 1.75rem;
}
.grayscale {
  filter: sepia(100%) opacity(50%);
}
.scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}
.scrollbar::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
.scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #a7a5a5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}
body {
  overflow-y: scroll;
}
.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #a7a5a5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}
.scrollbar-dark::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}
.opacity-10 {
  opacity: 0.3;
}
.opacity-10 button {
  border-bottom-left-radius: 10px;
  padding: 8px;
}
